{% load staticfiles %}
{% block header %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "pure-min.css" %}" />
    <!--
        CDN
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    -->
    <ul class="pure-menu pure-menu-open pure-menu-horizontal">
        <li><a href="{% url "name_list" %}">names</a></li>
        <li><a href="{% url "resource_header_list" %}">resource headers</a></li>
        <li><a href="{% url "resource_record_list" %}">resource records</a></li>
        <li><a href="{% url "query_list" %}">queries</a></li>
        <li><a href="{% url "packet_list" %}">packets</a></li>
    </ul>
</head>
<body>
{% endblock %}
{%  block content %}
{%  endblock %}
{% block footer %}
    <div class="center">
        <p><a href="http://www.github.com/b1tninja/django_dnspy">django_dnspy</a></p>
    </div>
</body>
</html>
{% endblock %}
