    <h2>Queries</h2>
    <p>{{ object_list.count }} objects</p>
    {%  if object_list %}
        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
                <tr>
                    <td>packet</td>
                    <td>queryset</td>
                    <td>nameserver</td>
                    <td>address</td>
                    <td>response</td>
                    <td>recordset</td>
                </tr>
            </thead>
            <tbody>

            {% for query in object_list %}
                <tr>
                    <td><a href="{% url "packet" pk=query.pk %}">{{ query.pk }}</a></td>
                    <td>{{ query.packet.questionset }}</td>
                {% if query.nameserver %}
                    <td><a href="{% url "resource_record" pk=query.nameserver_id %}">{{ query.nameserver_id }}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if query.address %}
                    <td><a href="{% url "resource_record" pk=query.address_id %}">{{ query.address_id }}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if query.response %}
                    <td><a href="{% url "packet" pk=query.response_id %}">{{ query.response_id }}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                    <td>{{ query.response.recordset }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
