    <h2>Queries</h2>
    <p>{{ object_list.count }} objects</p>
    {%  if object_list %}
        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
                <tr>
                    <td>pk</td>
                    <td>question</td>
                    <td>nameserver</td>
                    <td>address</td>
                    <td>requested</td>
                    <td>completed</td>
                </tr>
            </thead>
            <tbody>

            {% for record in object_list %}
                <tr>
                    <td>{{ record.pk }}</td>
                    <td>{{ record.question.pk }}</td>
                    <td>{{ record.nameserver.pk }}</td>
                    <td>{{ record.address.pk }}</td>
                    <td>{{ record.requested }}</td>
                    <td>{{ record.completed }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
