    <h2>Queries</h2>
    <p>{{ object_list.count }} objects</p>
    {%  if object_list %}
        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
                <tr>
                    <td>pk</td>
                    <td>question</td>
                    <td>nameserver</td>
                    <td>address</td>
                    <td>response</td>
                    <td>completed</td>
                </tr>
            </thead>
            <tbody>

            {% for query in object_list %}
                <tr>
                    <td>{{ query.pk }}</td>
                    <td>{{ query.packet.resource_header }}</td>
                    <td>{{ query.nameserver }}</td>
                    <td>{{ query.address }}</td>
                    <td>{{ query.response_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
