    <h2>Questions</h2>
    <p>{{ object_list.count }} objects</p>
    {% if object_list %}
    <table class="pure-table pure-table-bordered pure-table-striped">
        <thead>
            <tr>
                <td>pk</td>
                <td>name</td>
                <td>qtype</td>
                <td>qclass</td>
            </tr>
        </thead>
        <tbody>
        {% for question in object_list %}
            <tr>
                <td><a href="{% url "question" pk=question.pk %}">{{ question.pk }}</a></td>
                <td><a href="{% url "name" pk=question.name.pk %}">{{ question.name }}</a></td>
                <td>{{ question.type }}</td>
                <td>{{ question.qclass }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   {% endif %}