    <h2>Resource Records</h2>
    <p>{{ object_list.count }} objects</p>
    {% if object_list %}
        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
                <tr>
                    <td>pk</td>
                    <td>name</td>
                    <tD>rtype</tD>
                    <td>rclass</td>
                    <td>ttl</td>
                    <td>rdata</td>
                </tr>
            </thead>
            <tbody>
            {% for resource_record in object_list %}
                <tr>
                    <td><a href="{% url "resource_record" pk=resource_record.pk %}">{{ resource_record.pk }}</a></td>
                    <td><a href="{% url "name" pk=resource_record.resource_header.name_id %}">{{ resource_record.resource_header.name }}</a></td>
                    <td>{{ resource_record.resource_header.type }}</td>
                    <td>{{ resource_record.resource_header.rclass }}</td>
                    <td>{{ resource_record.resource_header.ttl }}</td>
                    <td>{{ resource_record.rdata }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
