{% load dnspy %}
    <h2>Resource Records</h2>
    <p>{{ object_list.count }} objects</p>
    {% if object_list %}
        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
                <tr>
                    <td>pk</td>
                    <td>name</td>
                    <tD>rtype</tD>
                    <td>rclass</td>
                    <td>rdata</td>
                </tr>
            </thead>
            <tbody>
            {% for resourcerecord in object_list %}
                <tr>
                    <td><a href="{% url "resource_record" pk=resourcerecord.pk %}">{{ resourcerecord.pk }}</a></td>
                    <td><a href="{% url "name" pk=resourcerecord.resourceheader.name_id %}">{{ resourcerecord.resourceheader.name }}</a></td>
                    <td>{{ resourcerecord.resourceheader.qtype|rtype }}</td>
                    <td>{{ resourcerecord.resourceheader.qclass|rclass }}</td>
                    <td>{{ resourcerecord.rdata }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
