    <h2>Resource Headers</h2>
    <p>{{ object_list.count }} objects</p>
    {% if object_list %}
    <table class="pure-table pure-table-bordered pure-table-striped">
        <thead>
            <tr>
                <td>pk</td>
                <td>name</td>
                <td>qtype</td>
                <td>qclass</td>
            </tr>
        </thead>
        <tbody>
        {% for resource_header in object_list %}
            <tr>
                <td><a href="{% url "resource_header" pk=resource_header.id %}">{{ resource_header.id }}</a></td>
                <td><a href="{% url "name" pk=resource_header.name_id %}">{{ resource_header.name }}</a></td>
                <td>{{ resource_header.qtype }}</td>
                <td>{{ resource_header.qclass }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   {% endif %}